@font-face {
    font-family: 'OpenDyslexic';
    src: url('fonts/OpenDyslexic-Regular.woff2') format('woff2'),
         url('fonts/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'OpenDyslexic', 'Arial', 'Helvetica', sans-serif;
}

#RegisterForm {
    display: none;
}

#LogInForm {
    display: none;
}