




@font-face {
    font-family: 'OpenDyslexic';
    src: url('fonts/OpenDyslexic-Regular.woff2') format('woff2'),
         url('fonts/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'OpenDyslexic', 'Arial', 'Helvetica', sans-serif;
    background-color: #6A4FB5;
    font-size: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

#login-txt {
    margin-bottom: 1vh;
}

#register-txt {
    margin-top: 1vh;
}

header {
    background-color: #7269E1;
    font-size: 16px;
    text-align: left;
    max-height: 6vh;
}

#logo-btn {
    height: 6vh;
}

main {
    position: absolute;
    top : 31vh;
}

#register-form {
    display: none;
}

#login-form {
    display: none;
}

.center-buttons {
    margin: 0 2.5vw;
    min-width : 95vw;
    min-height: 15vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border-style: none;
}

#login-button-a {
    background-color: #7156DF;
}

#register-button-a {
    background-color: #2821B3;
}