@font-face {
    font-family: 'OpenDyslexic';
    src: url('fonts/OpenDyslexic-Regular.woff2') format('woff2'),
         url('fonts/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'OpenDyslexic', 'Arial', 'Helvetica', sans-serif;
}

#RegisterForm {
    display: none;
}

#LogInForm {
    display: none;
}

.CenterButtons {
    margin : 0% 2vh 0% 2vh;
    min-width : 100vh;
    min-height: 10.8vh;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}