#infos-form {
    width: 100%;
    height: 90%;
    position: relative;
}

.names {
        width: 90vw;
        text-align: center;
        display : flex;
        justify-content: space-between;
        gap: 15vmin;
        position: relative;
        left: 5%;
}

#pfp-img {
        height: clamp(10px, 20%, 200px);
        width: clamp(10px, 20%, 200px);
        border-radius: 50%;
        object-fit: cover;
        margin: 1% 1% 1% 1%;
    }

    .background {
    display : block;
    position: absolute;
    left: 2.5%;
    width: 95%;
    height: 520px;
    }

    #lsbg {
        display: none;
    }

    #last-name, #first-name {
        margin-top: 2vh;
    }

    /* Making the buttons to be on the middle with the right size*/
        #last-name, #first-name, #country, #username, #password,
        #email, #bio, #save-button, #phone-number, #street-address, #city, #zip, #background-btn {
            background-color: #7156DF;
            border-style: none;
            border-radius: 16vh;
            height: clamp(25px, 30px, 35px);
            width: 90%;
            color:#FFFFFF;
            text-align: center;
            font-size: 25%;
            margin-bottom: 2vh;
            position: relative;
            
        }

    #bio {
        height: clamp(75px, 90px, 105px);
    }

    #last-name, #first-name {
        cursor: not-allowed;
        pointer-events: none;
            
    }

    #street-address {
    width: 45%;
    position: absolute;
    left: 5%;
    }
    
    #city {
    width: 25%;
    position:relative;
    left: 17%;
    }
    
    #zip {
    width: 15%;
    position: absolute;
    right: 5%;
    }

    #save-button, #background-btn {
        width: 25%;
        border-radius: 60px;
        background-color: #27C6BB;
    }

    /* Media Quarry for landscape view */


@media (orientation: landscape) {
        
    #lsbg {
        display: flex;
        height: 500px;
            
    }

    #ptbg {
        display: none;
    }
        
    #save-button {
        position: absolute;
        top: -30px;
        left: 5vw;
    }

    #background-btn {
        position: absolute;
        top: -30px;
        right: 5vw;
    }

}