body button {
    font-family: 'OpenDyslexic', 'Arial', 'Helvetica', sans-serif;
}

body input::placeholder {
    font-family: 'OpenDyslexic', 'Arial', 'Helvetica', sans-serif;
    color: #FFFFFF;
}

body select {
    font-family: 'OpenDyslexic', 'Arial', 'Helvetica', sans-serif;
}

/* Login and Register access CSS code   */

    #login-txt {
    margin-bottom: 1vh;
    font-size: 1.5vw;
    }

    #register-txt {
        margin-top: 1vh;
        font-size: 1.5vw;
    }

    main #welcome-page{
        position: absolute;
        top : 31vh;
    }

    #register-part {
        display: none;
    }

    #login-form {
        display: none;
    }

    .center-buttons {
        margin: 0 2.5vw;
        min-width : 95vw;
        min-height: 15vh;
        max-height: 50vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        border-style: none;
        border-radius: 60px;
    }

    @media (orientation: landscape) {
        .center-buttons {
            border-radius: 25px;
        }
    }

    #login-button-a {
        background-color: #7156DF;
        color: #FFFFFF;
    }

    #register-button-a {
        background-color: #2821B3;
        color: #FFFFFF;
    }

/*  End of the login and register access CSS code
    Start of the Register form CSS code                */

    #pfp-img {
        height: clamp(10px, 20%, 200px);
        width: clamp(10px, 20%, 200px);
        border-radius: 50%;
        object-fit: cover;
        margin: 5vh 1% 7.5vh 1%;
    }
    
    /* Making the buttons to be on the middle with the right size*/
    #last-name, #first-name, #country, #username, #password,
    #email, #confirm-password, #get-registered-button {
        background-color: #7156DF;
        border-style: none;
        border-radius: 16vh;
        height: clamp(35px, 40px, 45px);
        width: 95%;
        color:#FFFFFF;
        text-align: center;
        font-size: 50%;
        margin-bottom: clamp(20px, 35px, 40px);
    }

    .names {
        width: 100vw;
        text-align: center;
        display : flex;
        justify-content: space-between;
        gap:30vw;
    }

    #last-name {
        margin-left: 2.5vw;
    }

    #first-name {
        margin-right: 2.5vw;
    }

    #get-registered-button {
        margin-top:2vh;
        width: clamp(25vw, 40vw, 800px);
    }

    #log-btn-txt button {
        background: none;
        border-style: none;
        border-bottom-style: solid;
        border-bottom-color: white;
        color: white;
    }

/*  End of the Register form CSS code
    Start of the Login form CSS code    */

    /* Making the buttons to be on the middle with the right size*/
    #login-id, #password-id, #get-loggedin-button {
        background-color: #7156DF;
        border-style: none;
        border-radius: 16vh;
        min-height: 5vh;
        min-width: 95vw;
        justify-content: center;
        margin: 0, 3vw;
        text-align: center;
        font-size: 20px;
        margin-bottom: 5vh;
        opacity: 100%;
    }

    #login-id {
        margin-top: 25vh;
    }

    #get-loggedin-button {
        min-width: 50vw;
        color:#FFFFFF;
    }

    #reg-btn-txt button {
        background: none;
        border-style: none;
        color: #FFFFFF;
        border-bottom-style: solid;
        border-bottom-color: white;
        margin-bottom: 0;
    }