@font-face {
    font-family: 'OpenDyslexic';
    src: url('fonts/OpenDyslexic-Regular.woff2') format('woff2'),
         url('fonts/OpenDyslexic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'OpenDyslexic', 'Arial', 'Helvetica', sans-serif;
    background-color: #6A4FB5;
    font-size: 16px;
    color:#FFFFFF;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

header {
    background-color: #7269E1;
    font-size: 16px;
    text-align: left;
    max-height: 6vh;

}

#logo-img {
    height: 6vh;
}

#logo-btn {
    height: 6.5vh;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 6.5vh;

}

/* Login and Register access CSS code   */

#login-txt {
    margin-bottom: 1vh;
    font-size: 1.5vw;
}

#register-txt {
    margin-top: 1vh;
    font-size: 1.5vw;
}

main {
    position: absolute;
    top : 31vh;
}

#register-part {
    display: none;
}

#login-form {
    display: none;
}

.center-buttons {
    margin: 0 2.5vw;
    min-width : 95vw;
    min-height: 15vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border-style: none;
    border-radius: 16vh;
}

@media (orientation: landscape) {
    .center-buttons {
        border-radius: 4vh;
    }
}

#login-button-a {
    background-color: #7156DF;
    color: #FFFFFF;
}

#register-button-a {
    background-color: #2821B3;
    color: #FFFFFF;
}

/*  End of the login and register access CSS code
    Start of the Register form CSS code                */

    #register-part {
        text-align: center;
        position: relative;
        size:100vh;
    }

    #pfp-img {
        position: relative;
        top: -3vh;
        justify-content: center;
        min-height: 20vh;
        max-height: 300px;
    }

    #register-part input::placeholder{
        color:#FFFFFF;
    }
    
    /* Making the buttons to be on the middle with the right size*/
    #last-name, #first-name, #country, #cpn, #username, #password,
    #email, #confirm-password, #get-registered-button {
        background-color: #7156DF;
        border-style: none;
        border-radius: 16vh;
        min-height: 4.5vh;
        min-width: 95vw;
        justify-content: center;
        margin: 0, 3vw;
        color:#FFFFFF;
        text-align: center;
        font-size: 20px;
        margin-bottom: 2vh;
    }

    #last-name, #first-name {
        min-width: 35.3vw;
        max-width: 35.3vw;
        text-align: center;
        font-size: 50%;
    }

    #first-name {
        margin-left: 23vw;
    }

    .last-name-label {
        position: absolute;
        left: 2.5vw;
    }

    #get-registered-button {
        margin-top:2vh;
        min-width: 50vw;
    }

    #log-btn-txt button {
        background: none;
        border-style: none;
        border-bottom-style: solid;
        border-bottom-color: white;
        color: white;
    }

/*  End of the Register form CSS code
    Start of the Login form CSS code    */

    /* Making the buttons to be on the middle with the right size*/
    #login-id, #password-id, #get-loggedin-button {
        background-color: #7156DF;
        border-style: none;
        border-radius: 16vh;
        min-height: 5vh;
        min-width: 95vw;
        justify-content: center;
        margin: 0, 3vw;
        text-align: center;
        font-size: 20px;
        margin-bottom: 5vh;
        opacity: 100%;
    }

    #login-id {
        margin-top: 25vh;
    }

    #get-loggedin-button {
        min-width: 50vw;
        color:#FFFFFF;
    }

    #reg-btn-txt button {
        background: none;
        border-style: none;
        color: #FFFFFF;
        border-bottom-style: solid;
        border-bottom-color: white;
    }
    
    #login-form input::placeholder{
        color:#FFFFFF;
    }